.firstWindow {
    background-image: url("public/fon38.png");
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    padding-inline: 10%;
}


.firstWindow h1{
    font-family: CURSIVE;
    font-size: clamp(50px, 20vw, 500px);
    margin: 0;
    text-align: center;
    margin-top: -50px;
}

.firstWindow p{
    margin: 0;
    font-size: clamp(20px, 3.5vw, 32px);
    padding-bottom: 70px;
    padding-top: 370px;
}
